<meta charset="utf-8">
<title>Font PJW Portfolio</title>
<body>
<nav>
</nav>
<article>
<h1>Font PJW Portfolio</h1>
<time>2024-06-13</time>
<address>by drj</address>
<p>What if we took this …</p>
<p><img alt="The word 'Dolphins' in the pixel font Pellucida" src="Dolphins.svg" style="height: 3rem"></p>
<p>… and this …</p>
<p><img alt="Face of Peter J Weinberger as a flat black-and-white art" src="Face.svg" style="height: 8rem"></p>
<p>… and combined them? We’d get this:</p>
<p><img alt="The word 'Dolphins' in the same pixel font, but each pixel is
  a tiny image of PJW’s face" src="Dolphins-PJW.svg" style="height: 12rem"></p>
<h2>Font PJW</h2>
<p>Font PJW is something of a niche joke, and largely not one of
mine.
It’s a real font that you can <a href="https://gitlab.com/drj11/font-pjw/-/tree/version/0.20240612/fonts/ttf">download from my repo</a>.</p>
<p>There is a tradition amongst the Unix old guard of putting the
face of Peter J Weinberger on and in things.
<a href="http://spinroot.com/pico/pjw.html">There's a whole web page dedicated to these
antics</a>.</p>
<p>Why not use PJW’s face as a pixel in a pixel font?</p>
<p>Why not use <code>pelm</code> from Plan 9 as the pixel font?</p>
<p>Why not indeed. So that’s what i did.
There are two prongs of progress: one for the face, and one
for the pixels; and a final step where they are combined
together.</p>
<h2>Face</h2>
<p>Starting from a not brilliant scan on the <code>spinroot</code> page,
i poked about in Inkscape until i had a reasonably thresholded
and autotraced outline.
Then i imported it into Glyphs and cleaned up all the contours by
hand.
There were <em>so many</em> points.</p>
<p>I exported this as a <a href="https://unifiedfontobject.org/versions/ufo3/">UFO, Unified Font
Object</a>, which is a pile
of XML that’s not too cumbersome to process with “custom scripts”.</p>
<h2>Pixels</h2>
<p>I had already done much of the preparatory work.
In the Python 2 era i had written
<a href="https://gitlab.com/drj11/pypng/-/blob/main/code/priplan9topng"><code>priplan9topng</code></a>,
a rough implementation of Plan 9 image decoding, and had revived
it in 2023 to run on Python 3.
A Plan 9 font (subfont, strictly) is a Plan 9 image of all the
glyphs packed left-to-right and an additional text meta block
tacked on the end to describe the widths and bearings of each
glyph.</p>
<p>Now i just had to track down <code>pelm</code> font from the Plan 9
sources, and decide which strike i was going to use.</p>
<h2>Simple Combination</h2>
<p>Combining these involves
Custom Go Code that reads the PNG images for the source of the
glyph pixel data, and the PJW face UFO object.
The output of that is a font in UFO format.</p>
<p>This part was made not
so simple because i had no familiarity with UFO.
Although at least i used <code>encoding/xml</code> to write the XML out.</p>
<p>Aside: it turns out that Apple plist format is awkward to
write from Go using <code>encoding/xml</code> because
Go assumes you just want to write a struct with named fields,
and the plist format is basically an ordered list of pairs (so
that bit does not use <code>encoding/xml</code>).</p>
<p>There was quite a bit of head-scratching debugging.
And some cursing when it seemed like my edits in the library i
was trying to add debugging to had no effect.
There were two almost identical functions and i was editing the
wrong one, haha.</p>
<p>Also some cursing when <code>fontmake</code> correctly reported
an error with my own XML,
but the error was "obviously bogus" because
the XML i was looking at was fine.
It turns out that the XML i was looking at was indeed fine,
but it is translated by my own code and put in a different XML
file;
<em>that</em> file is the one that <code>fontmake</code> is using and it does indeed
have the error that <code>fontmake</code> was reporting.</p>
<h2>Full vector component</h2>
<p>The pixel in the font is technically a <em>component</em> in the TTF
glyph outlines;
it is stored in the font at full fidelity.
This pixel component is the only thing that appears in all the
other glyphs in the font: each glyph has one component per pixel
with the pixel component positioned at the appropriate
place in the grid.</p>
<p>It turns out that this broke the TTF format for this glyph:</p>
<p><img alt="A pixelly question mark inside a box" src="Substitute.svg" style="height: 3rem"></p>
<p>Which in Plan 9 was at code position 0x80 (not really assigned
in Unicode); i suspect it was mostly useful for debugging.</p>
<p>This glyph has 49 pixels (that is, “turned on” pixels), which is the most
pixels of any of the glyphs.</p>
<p>The problem was that in a TTF font the max number of nodes
for a composite glyph cannot exceed 65535 because that value is
stored in a 16-bit field in one of the header tables.</p>
<p>The face pixel has 1239 nodes in UFO format, and
49 × 1239 is 60711; which seems like it should be fine?</p>
<p>That UFO format represents the face with <em>cubic</em> Béziers.
These are converted by <code>fontmake</code> to <em>quadratic</em> Béziers.
In general using quadratic curves will require more segments
compared to using cubics.
But when i investigated, it looks like the pixel as stored in
the TTF file has only 908 nodes.
So maybe something else is going on.</p>
<p>In any case, i removed the offending glyph from the font,
and <code>fontmake</code> then proceeded to correctly build the output TTF.</p>
<h2>Recursive Edition</h2>
<p>Now of course whoever put <code>pelm</code> into Plan 9 was not oblivious
to the tradition of putting PJW’s image in things (in fact, i suspect
they were There At The Beginning).
Which explains why <code>pelm</code> from Plan 9 has a tiny picture of PJW
(at code 0x00 meaning any unimplemented glyph will appear as a
tiny picture of PJW).
In Font PJW i moved a bunch of things from 0x00–0x1F to
U+2400–U+241F.</p>
<p>I present to you U+2400 SYMBOL FOR NULL, aka PJW in PJW:</p>
<p><img alt="A lo-res pixelly image of PJW made of out hi-res vector copies of PJW!" src="PJW-PJW.svg" style="height: 12rem"></p>
<p>Aside: this particular image required some circumlocution to
produce, because at time of writing (2024-06-11) this glyph (along with others like <code>/H</code> and
<code>/dollar</code>)
<a href="https://github.com/harfbuzz/harfbuzz/issues/4752">didn’t render using harfbuzz because it had too many points</a>;
that’s now been fixed, but it may take a while for the
fixed code to appear in any particular system.</p>
<h2>Reflection</h2>
<p>Yes, this is a silly joke.</p>
<p>Visually, the effect works better than i was expecting.
At typical screen reading sizes,
the font is about as reasonable as you would expect for a 1990s
pixel font dragged into the 21st century;
at larger sizes the face pixel is approximately a hemisphere lit
from the left so gives a “font made from round bumps” effect.
Zooming in or greatly enlarging the font gives the full PJW effect.</p>
<h1>END</h1>
</article>

